%html
  %body
    %div{:id => "input_form", :class => "grid_8"}
      %form{ :action => "/game", :method => "post" }
        %label{:for => "player"} Player
        %input{:type => "text", :name => "player", :class => "text", :size => 3}
        %label{:for => "won"} Games won
        %input{:type => "text", :name => "won", :class => "text", :size => 2}
        %label{:for => "played"} Games played
        %input{:type => "text", :name => "played", :class => "text", :size => 2}
          %input{:type => "submit", :value => "Save", :class => "button"}
    %div{:class => 'grid_12'}
      %table{:id => 'games'}
        %tr
          %th{:scope => 'col'} Player
          %th{:scope => 'col'} Games won
          %th{:scope => 'col'} Games played
          - @games.each do |game|
            %tr
              %td #{game[:short_name]}  
              %td #{game[:games_won]}
              %td #{game[:games_played]}