%html
%body
%form{ :action => "", :method => "post" }
  %fieldset
    %ol
      %li
        %label{:for => "player1"} Player 1:
        %input{:type => "text", :name => "player1", :class => "text"}
        %label{:for => "won1"} Games won:
        %input{:type => "text", :name => "won1", :class => "text"}
    %input{:type => "submit", :value => "Send", :class => "button"}