%html
  %body
    %div{:id => "game_form", :class => "grid_8"}
      %form{ :action => "/game", :method => "post" }
        %label{:for => "player"} Player
        %input{:type => "text", :name => "player", :class => "text", :size => 3}
        %label{:for => "won"} Games won
        %input{:type => "text", :name => "won", :class => "text", :size => 2}
        %label{:for => "played"} Games played
        %input{:type => "text", :name => "played", :class => "text", :size => 2}
          %input{:type => "submit", :value => "Save", :class => "button", :onclick => "hideEnterGame()"}
    %div{:class => 'grid_12'}
      %table{:id => 'games'}
        %tr
          %th{:colspan => "4", :class => "right", :onclick => "showEnterGame()"}
            %a(title="Enter game") Enter game
        %tr
          %th{:scope => 'col'} Player
          %th{:scope => 'col', :class => "right"} Games won
          %th{:scope => 'col', :class => "right"} Games 
          - @games.each do |game|
            %tr
              %td #{game[:short_name]}  
              %td{:class => "right"} #{game[:games_won]}
              %td{:class => "right"} #{game[:games_played]}