%html
  %body
    %div
      %form{ :action => "/game", :method => "post" }
        %fieldset
          %ul
            %li
              %label{:for => "player"} Player
              %input{:type => "text", :name => "player", :class => "text"}
              %label{:for => "won"} Games won
              %input{:type => "text", :name => "won", :class => "text"}
              %label{:for => "played"} Games played
              %input{:type => "text", :name => "played", :class => "text"}
                %input{:type => "submit", :value => "Save", :class => "button"}
    %div{:class => '.container_12'}
      %table{:id => 'games'}
        %tr
          %th{:scope => 'col'} Player
          %th{:scope => 'col'} Games won
          %th{:scope => 'col'} Games played
          - @games.each do |game|
            %tr
              %td #{game[:short_name]}  
              %td #{game[:games_won]}
              %td #{game[:games_played]}